/FlickrKit/FlickrKit.xcodeproj/xcuserdata/
/FlickrKit/FlickrKit.xcodeproj/project.xcworkspace/xcuserdata/
/ModelGenerator/FlickrKitModelGenerator.xcodeproj/project.xcworkspace/
xcuserdata
project.xcworkspace
/build/
.DS_Store
